rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
  
      match /{document=**} {
        allow read, write: if false;
      }
  
      // A write rule can be divided into create, update, and delete rules
      match /games/{game} {
        allow update: if true;
        allow read: if true;
        allow create: if canCreateGame();
      }
      
      // A write rule can be divided into create, update, and delete rules
      match /games/{game}/players/{player} {
        allow update: if true;
        allow read: if true;
        allow create: if canCreatePlayer(game);
      }
      
      function canCreateGame () {
      	return
        	// name must not be empty
        	request.resource.data.name != ''
          // For normal game need 2 or more players
          && request.resource.data.playersForStart >= 2
      }
      
      function canCreatePlayer (game) {
      	// let gameAfter = getAfter(/games/$(game));
      	return
        	// name must be not empty
        	request.resource.data.name != ''
          // test
          // && gameAfter.playersCount > 0
          // && request.resource.data.value == resource.data.value +1;
      }

      // If you update a city doc, you must also
      // update the related country's last_updated field.
      // match /cities/{city} {
      //   allow write: if request.auth != null &&
      //     getAfter(
      //       /databases/$(database)/documents/countries/$(request.resource.data.country)
      //     ).data.last_updated == request.time;
      // }
      
      // function canUpdatePlayer (game, player) {}
      
      // let gameAfter = getAfter(/databases/$(database)/documents/games/$(game));
      
    }
}